<!DOCTYPE html>

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %></h1>

    <% if @user.upcoming_fab_still_missing? %>
      <p>
        Hey, we noticed that you still haven't done your FAB.
      </p>
      <p>
        <%= link_to user_fabs_url(@user), user_fabs_url(@user, host: ENV['domain_name'], protocol: 'https') %>
      </p>
    <% else %>
      <p>Thanks for doing your FAB.  You're awesome.</p>
    <% end %>

    <% if @user.only_person_of_team_missing_fab? %>
      <p>
        You're the only one on your team who hasn't filled out FAB. Just so you know.
      </p>
    <% elsif @user.upcoming_fab_still_missing_for_team_mate? %>
      <% subtraction_of_self = @user.upcoming_fab_still_missing? ? 1 : 0 %>
      <%# describing count of team mates missing fab %>
      <% c = @user.team.users.find_users_with_missing_fabs_current_period.count - subtraction_of_self %>

      <p>
        You have
        <%= c > 1 ? "some team mates" : "a team mate" %>
        who
        <%= c > 1 ? "haven't" : "hasn't" %>
        completed FAB!
        <%= c > 1 ? "Are they" : "Is this individual" %>
        near you right now?  Ask that person to help you get FAB cake now!
      </p>

      <ul>
        <% @user.team.users.find_users_with_missing_fabs_current_period.each do |u| %>
          <li><%= u.name %></li>
        <% end %>
      </ul>
    <% end %>

  </body>
</html>
