<% title = forward ? 'forward' : 'back' %>
<% start_day = @fab.send("display_#{title}_start_day") %>

<% if @fab.id.nil? %>
  <% notes = forward ? @fab.notes.select {|n| n.forward} : @fab.notes.select {|n| !n.forward} %>
<% else %>
  <% notes = forward ? @fab.forward : @fab.backward %>
<% end %>

<% placeholders = forward ? [] : @previous_fab.try(:forward).try(:map, &:body) || [] %>

<% week_back_forward = forward ? "Next Week" : "Last Week" %>

<div class="fab-note-inputs <%= title %>">
  <h3><%= week_back_forward.capitalize %></h3>
  <h4>
    <%= start_day %>
  </h4>

  <% notes.zip(placeholders).each do |note, placeholder| %>
    <div class="nested-fields"</div>
      <%= f.fields_for(:notes, note) do |f| %>
        <%= f.hidden_field :forward, value: note.forward %>
        <%= f.text_field :body, placeholder: placeholder %>
      <% end %>
    </div>
  <% end %>

  <% if !forward %><em>* Placeholder values are taken from last week</em><% end %>
</div>
