<% title = forward ? 'forward' : 'back' %>
<div class="fab-note-inputs <%= title %>">
  <h3>
    <%= header_for(forward) %>
  </h3>
  <h4>
    <%= @fab.send("display_#{title}_start_day") %>
  </h4>

  <% notes_for(@fab, @previous_fab, forward).each do |note, autofill| %>
    <div class="nested-fields"</div>
      <%= f.fields_for(:notes, note) do |f| %>
        <%= f.hidden_field :forward, value: note.forward %>
        <%= f.text_field :body, value: note.body || autofill %>
      <% end %>
    </div>
  <% end %>

  <% if !forward %><em>* Placeholder values are taken from last week</em><% end %>
</div>
