<%= simple_form_for([@user, @fab]) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :period, value: @fab.period %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.file_field :gif_tag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
