<% direction = forward ? 'forward' : 'back' %>

<div class="<%= direction %>">
  <h3><%= direction.capitalize %></h3>
  <h4>
    <%= @fab.present_start_day_for_week(forward) %>
  </h4>

  <ul>
    <% @fab.expose_notes(direction).each do |note| %>
      <li><%= note.body %><%= "&zwnj;".html_safe %>
    <% end %>
  </ul>
</div>
