<% title = forward ? 'forward' : 'back' %>
<% start_day = @fab.send("display_#{title}_start_day") %>

<% if @fab.id.nil? %>
  <% notes = [
    OpenStruct.new({ body: forward ? "=(" : "This user hasn't filled out this FAB!" }),
    OpenStruct.new({ body: "" }),
    OpenStruct.new({ body: "" })
    ] %>
<% else %>
  <% notes = forward ? @fab.forward : @fab.backward %>
<% end %>

<div class="<%= title %>">
  <h3><%= title.capitalize %></h3>
  <h4>
    <%= start_day %>
  </h4>

  <ul>
    <% notes.each do |note| %>
      <li><%= note.body %><%= "&zwnj;".html_safe %>
    <% end %>
  </ul>
</div>
