<div>
  <div>
    <strong>User:</strong>
    <%= @fab.user_id %>
  </div>
  <div>
    <strong>Gif Tag:</strong>
    <%= image_tag @fab.gif_tag.url %>
  </div>

  <%= show_fab_notes forward: false %>
  <%= show_fab_notes forward: true %>


</div>

<%= link_to 'Edit', edit_user_fab_path %> |
<%= link_to 'Destroy', [@user, @fab], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', user_fabs_path %>
