<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-field">
      <%= f.input :name %>
    </div>
  </div>

  <br>
  <div class="form-actions">
    <%= button_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %>
  </div>
  <div class="">
    <%= f.button :submit, "Update user" %>
  </div>

<% end %>
