<% if @user.new_record? %>
  <% form_params = { url: '/u/overridden_create', html: {method: :post} } %>
<% else %>
  <% form_params = {} %>
<% end %>

<%= simple_form_for(@user, form_params) do |f| %>
  <div class="form-errors">
    <% if @user.errors.any? %>
      <%= f.error_notification %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="form-inputs">
    <div class="form-field">
      <%= f.input :name %>
    </div>
    <div class="form-field">
      <%= f.input :email %>
    </div>
    <div class="form-field">
      <%= f.input :title %>
    </div>
    <div class="form-field">
      <%= f.label :team_id, "Team" %>
      <%= f.select :team_id, Team.all.collect {|t| [t.name, t.id]} %>
    </div>
    <div class="form-field">
      <%= f.input :avatar, as: :file %>
    </div>
    <div class="form-field ">
      <%= f.input :staff, inline_label: "Require this user to fill out FABs" %>
    </div>

    <% if @user.persisted? && current_user.try(:admin?) %>
      <p>
        API token: <%= @user.access_token %>
        <br />
        <%= link_to 'Generate API token', generate_access_token_user_path(@user), method: :post %>
      </p>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <% if @user.persisted? && current_user.try(:admin?) %>
      <div>
        <%= link_to 'Delete user', @user, method: :delete, data: { confirm: 'Are you sure you want to delete this user?' } %>
      </div>
    <% end %>
    <div>
      <%= link_to "Cancel", @user.persisted? ? user_fabs_path(@user) : users_path %>
    </div>
  </div>

<% end %>
