<% fab = user.current_period_fab %>
<% @fab = fab.nil? ? user.fabs.build(period: @fab_period) : fab %>

<% fab_reference = "data-fab-period=#{@fab.period.to_json}" %>

<div class="user">
  <div class="basic-carousel" data-user-id="<%= user.id %>" <%= fab_reference %>>
    <%= render partial: '/users/user_details', locals: {user: user}%>

      <a class="fab-backward-btn unselectable">&lt;</a>

        <%= show_fab_notes forward: false %>
        <%= show_fab_notes forward: true %>

      <a class="fab-forward-btn unselectable disabled">&gt;</a>

      <div class="clear"></div>
  </div>

  <div class="clear"></div>
</div>
