<% @fab = user.current_period_fab || user.build_upcoming_fab %>

<% cache([@fab.user.id, @fab.updated_at, @fab_editable, adminy?]) do %>

  <% fab_reference = "#{@fab.period.to_json}" %>

	<figure class="fab-user basic-carousel"
		data-user-id="<%= user.id %>"
		data-fab-period="<%= fab_reference %>">

    <%= render 'users/portrait', user: user %>

		<% if @fab_editable %>
			<%= render '/fabs/form' %>
		<% else %>
			<%= render partial: "users/show_in_figure_fab", locals: { fab: @fab } %>
		<% end %>

		<%= yield %>

    <% if adminy? %>
      <div class="user-actions">
        <%= link_to("Edit", edit_user_path(user)) %>
      </div>
    <% end %>
	</figure>

<% end %>
