<div class="user">
  <% @fab = user.fabs.first %>
  <div class="basic-carousel" data-user-id="<%= user.id %>" data-fab-id="<%= @fab.try :id %>">
    <%= render partial: '/users/user_details', locals: {user: user}%>

    <% unless @fab.nil? %>
      <a class="fab-backward-btn unselectable">&lt;</a>
      <%= show_fab_notes forward: false %>
      <%= show_fab_notes forward: true %>
      <a class="fab-forward-btn unselectable disabled">&gt;</a>

      <div class="clear"></div>
    <% end %>
  </div>

  <div class="clear"></div>
</div>
