<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Team: <%= @user.team ? @user.team.name : "No Team"%></p>
<% if current_user && (current_user.admin? || current_user == @user) %>
  <p>API Token: <%= @user.access_token %></p>
<% end %>

<%= link_to 'Edit User', edit_user_path %>
