<h1>Admin</h1>

<%= form_tag("/tools/send_reminders", method: "post") do %>
  <%= submit_tag "Send FAB reminder" %>
<% end %>

<%= form_tag("/tools/populate_users", method: "post") do %>
  <%= submit_tag "Populate users", data: { confirm: "Are you sure?" } %>
<% end %>

<div><%= link_to "Add new user", "/users/new" %></div>
<div><%= link_to "Edit users", "/users" %></div>
