<h1>Admin</h1>

<h2>Usage</h2>
<%= form_tag("/tools/send_reminders", method: "post") do %>
  <%= submit_tag "Send FAB reminder" %>
<% end %>

<%= form_for(@user, remote: true, format: :json, ) do |f| %>
  <%= f.select :role, User.roles.collect{ |k,v| [ k,k ] } %>
  <%= f.submit %>
<% end %>

<h2>Configuration</h2>

<div><%= link_to "Add new user", "/users/new" %></div>
<div><%= link_to "Edit users", "/users" %></div>
<div><%= link_to "Edit teams", "/teams" %></div>

<%= form_tag("/tools/populate_users", method: "post") do %>
  <%= submit_tag "Populate users", data: { confirm: "Are you sure?" } %>
<% end %>
