<div class="elegant">
  <h1>Administrative Console</h1>

  <h2>Usage</h2>

  <ul>
    <li>
      <span class="faked-link">
        <%= form_tag("/tools/send_reminders", method: "post") do %>
          <span class="icon-resize-full-alt"></span>
          <%= submit_tag "Send FAB reminder" %>
        <% end %>
      </span>

    <li>
      <div class="roll-update">
      <%= form_for(@user, remote: true, format: :json, ) do |f| %>
        <%= f.select :role, User.roles.collect{ |k,v| [ k,k ] }, {}, class: "clean-picker" %>
        <%= f.submit "Update Current Role", class: "clean-picker-submit" %>
      <% end %>
      </div>
      <div class="clear"></div>
  </ul>

  <h2>Configuration</h2>

  <ul>
    <li>
      <%= link_to "/users/new" do %>
        <span class="icon-user-add"></span>
        Add new user
      <% end %>
    <li>
      <%= link_to "/users" do %>
        <span class="icon-users"></span>
        Edit users
        <% end %>
    <li>
      <%= link_to "/teams" do %>
        <span class="icon-flag"></span>
        Edit teams
        <% end %>
    <li>
      <span class="faked-link">
        <%= form_tag("/tools/populate_users", method: "post") do %>
          <span class="icon-database"></span>
          <%= submit_tag "Populate users", data: { confirm: "Are you sure?" } %>
        <% end %>
      </span>
  </ul>

  <h2>Development</h2>

  <ul>
    <li>
      <%= link_to '/tools/create_model_user' do %>
        <span class="icon-user-add"></span>
        Create Model User
      <% end %>
    <li>
      <span class="faked-link">
        <%= form_tag("/tools/populate_this_weeks_fabs", method: "post") do %>
          <span class="icon-database"></span>
          <%= submit_tag "Make Everyone's fab this week", data: { confirm: "Are you sure?" } %>
        <% end %>
      </span>

  </ul>

</div>
