<div id="where-list">
  <table class="tablesorter striped-table">
    <thead>
      <tr>
        <th class="sortable">Name</th>
        <th class="sortable">Team</th>
        <th>Sent At</th>
        <th class="sortable">Contact</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% where = where_or_stub_for(user) %>
        <tr>
          <td><%= link_to user.name, user_wheres_path(user) %></td>
          <td><%= user.team_name %></td>
          <td data-timestamp='<%= where.sent_at.try(:to_i) %>'>
            <b><%= where.subject %></b>
            <% if where.subject.present? && where.body.present? %>
              <br />
            <% end %>
            <%= where.body %>
            <div class='description'><%= time_since(where.sent_at) %></div>
          </td>
          <td>
            <%= mail_to(user.email, "Email: #{user.email}") %>
            <br />
            <%= link_to "Mattermost: @#{user.username}", mattermost_dm_link(user), target: "_blank" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
