<div id="where-list">
  <table class="striped-table">
    <thead>
      <th>Name</th>
      <th>Team</th>
      <th>Where</th>
      <th>Email</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% where = where_or_stub_for(user) %>
        <tr>
          <td><%= link_to user.name, user_wheres_path(user) %></td>
          <td><%= user.team_name %></td>
          <td>
            <%= where.body %>
            <div class='description'><%= time_since(where.sent_at) %></span>
          </td>
          <td><%= mail_to(user.email, user.email, subject: reply_subject(where)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
