<div class="nav-container">
  <!-- <nav>
    <%= link_to "Fab View", "#" %> |
    <%= link_to "Where View", "#" %> |
    <%= link_to "View Both", "#" %>
  </nav>
  <br> -->

  <nav>
    <% Team.all.each do |team| %>
      <%= leet_filter_button(team.name) %>
    <% end %>
  </nav>
  <nav>
    <%= button_tag "Clear Filters", onclick: "leetFilter.clearFilters();" %>
  </nav>

  <!-- <nav>
    <%= link_to "815 Eddy", "#" %> |
    <%= link_to "Willo", "#" %> |
    <%= link_to "Alphabetical", "#" %>
  </nav> -->


</div>
