<nav class="app-nav">
  <ul>
    <% if user_signed_in? %>
      <!-- <li><%# link_to 'Edit account', edit_user_registration_path %></li> -->
      <li>
        <%= link_to destroy_user_session_path, :method=>'delete' do %>
          Sign out
        <% end %>
      </li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.try(:admin?) %>
        <li>
          <%= link_to users_path do %>
            View Fab
          <% end %>
        </li>
        <li>
          <%= link_to '/admin' do %>
            Administer
          <% end %>
        </li>
        <li>
          
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>
