<% cache(Digest::MD5.hexdigest(nav_cache_key.join)) do %>

  <nav>
    <img src="<%= asset_path('EFF-logo-plain.svg') %>" type="image/svg+xml">

    <ul>

      <% if on_fabs_list %>

<% cache(Digest::MD5.hexdigest(['fab-filter-select', teams_key].join)) do %>
          <li id="first-li-containing-selected-team-and-teams-ul">
            Team: <a id="fabFilterSelectedDisplay">All teams</a>
            <ul>
              <a onclick="fabFilter.clearFilters();"><li>All teams</li></a>

              <% @teams.each do |team| %>
                <a onclick="fabFilter.selectCategoryByName('<%= team.name %>');"><li><%= team.name %></li></a>
              <% end %>

            </ul>
          </li>
        <% end %>

      <% end %>

      <li><%= link_to "View Fabs", users_path %></li>

      <% if user_signed_in? %>
        <li><%= link_to "View Whereabouts", wheres_path %></li>
        <li><%= link_to "Edit fab", user_fabs_path(current_user) %></li>
        <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>

        <% if current_user.try(:admin?)%>
          <li><%= link_to "Administer", "/admin" %></li>
        <% end %>

        <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>

      <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>

    <% if on_fabs_list %>
      <ul>
        <li id="hamburger"><i class="icon ion-navicon"></i></li>
      </ul>
    <% end %>

  </nav>

  <% if on_fabs_list %>

    <% cache(Digest::MD5.hexdigest(["fab-filter-hamburger", teams_key].join)) do %>
      <div id="drawer">
        <ul>
          <% @teams.each do |team| %>
            <li><a onclick="fabFilter.selectCategoryByName('<%= team.name %>');"><%= team.name %></a>
          <% end %>
        </ul>
      </div>
    <% end %>

  <% end %>

<% end %>
