<nav><img src="<%= asset_path('EFF-logo-plain.svg') %>" type="image/svg+xml">

  <ul>
    <% if params[:controller] == "users" and params[:action] == "index" %>
      <li>
        Team: <a id="leetFilterSelectedDisplay">All teams</a>
        <ul>
          <li><a onclick="leetFilter.clearFilters();">All teams</a></li>

          <% @teams.each do |team| %>
            <li><a onclick="leetFilter.selectCategoryByName('<%= team.name %>');"><%= team.name %></a>
          <% end %>

          <li><a onclick="leetFilter.selectCategoryByName('Team Runner Up');"></a></li>
        </ul>
      </li>
    <% end %>

    <% if user_signed_in? %>
      <!-- <li><%# link_to 'Edit account', edit_user_registration_path %></li> -->
      <li>
        <%= link_to destroy_user_session_path, :method=>'delete' do %>
          <span class="icon-eject"></span>
          Sign out
        <% end %>
      </li>

      <% if current_user.try(:admin?)%>
        <li>
          <%= link_to users_path do %>
            <span class="icon-book-open"></span>
            View Fab
          <% end %>
        </li>
        <li>
          <%= link_to '/admin' do %>
            <span class="icon-cog"></span>
            Administer
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>

  <ul>
    <li id="hamburger"><i class="icon ion-navicon"></i></li>
  </ul>
</nav>

<div id="drawer">
  <ul>
    <% @teams.each do |team| %>
      <li><a onclick="leetFilter.selectCategoryByName('<%= team.name %>');"><%= team.name %></a>
    <% end %>
  </ul>
</div>
