<!DOCTYPE html>
<html>
<head>
  <title>EFF-fab</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="/fonts/fontello/css/eff.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body id="<%= page_identifier %>">
  <div id="hero"><a href="/"><img id="logo" src="<%= asset_path('EFF-logo-plain.svg') %>" type="image/svg+xml"></a>
    <div id="front">
      <img id="title" src="<%= @hero_image %>" type="image/svg+xml" alt="<%= @hero_title %>">
      <h1><%= @hero_text %></h1>
    </div>
    <div id="hero-gradient"></div>
    <div id="hero-bg" style="background-image: url('<%= banner_image_path %>');"></div>
  </div>
  <%= render "/layouts/nav_bar" %>

  <div id="container">
    <div class="flash-msgs">
      <p id="notice"><%= notice %></p>
      <% if alert %>
        <p id="alert"><span class="icon-alien"></span><%= alert %></p>
      <% end %>
    </div>

    <%= yield %>
  </div>

  <script type="text/javascript">
    invokePageSpecificJavascript();
  </script>

</body>
</html>
